<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Inloggen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="">
          <h5 class="m-b-2">Sleutel</h5>

          <!-- <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Organisatie
            </button> {{dropdownOrga}}
            <br>
            <br>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button" (click)="dropdownOrga = 'orga 1'">Orga 1</button>
              <button class="dropdown-item" type="button" (click)="dropdownOrga = 'orga 2'">Orga 2</button>
              <button class="dropdown-item" type="button" (click)="dropdownOrga = 'orga 3'">Orga 3</button>
            </div>
          </div> -->

          <fieldset class="form-group has-danger">
            <label for="password" class="form-control-label">Vul hier de verkregen sleutel in:</label>
            <input [(ngModel)]="usrPwd" [ngModelOptions]="{standalone: true}" type="password" class="form-control form-control-danger" id="password">
          </fieldset>


          <button (click)="loginAttempt()" class="btn btn-primary btn-lg">Login</button>

        </form><br>
        <div style='color:orangered' *ngIf="errorMsg == true">Geen (geldige) sleutel ingevoerd</div>
        <div style='color:orangered' *ngIf="errorMsg2 == true">De sleutel klopt, alleen het formulier is gesloten</div>
      </div>
    </div>
  </div>
</div>





<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<!-- Navigation -->

<div class="d-flex flex-column flex-md-row align-items-center fixed-top p-3 px-md-4 mb-3 border-bottom box-shadow" style="background-color: #15395d">
  <h5 class="my-0 mr-md-auto font-weight-normal" style="color: white;"></h5>
  <nav *ngIf="!alreadyFilled && !formClosed" class="my-2 my-md-0 mr-md-3">
    <a class="p-2" pageScroll href="#watt">Wat?</a>
    <a class="p-2" pageScroll href="#waarr">Waarom?</a>
    <a class="p-2" pageScroll href="#contactt">Contact</a>
  </nav>
  <a *ngIf="!alreadyFilled && !formClosed" class="btn btn-outline-primary" style="border-color: white" routerLink="/admin">Inloggen</a>
</div>



<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-12 my-auto">
        <div *ngIf="alreadyFilled" class="text-center" ><br>
          <div class="alert alert-success" role="alert">
            <br><i class="fa fa-info-circle fa-3x" style="color:#3d8e1b"></i><br><br><p>U heeft deze vragenlijst al ingevuld. U hoeft niets meer te doen, bedankt!</p><br>
            <hr><br>
          </div>
          
          
          </div>
        <div *ngIf="formClosed" class="text-center"><br>
          <div class="alert alert-info" role="alert">
            <br><i class="fa fa-info-circle fa-3x" style="color:#bd2130"></i><br><br><p>De vragenlijst die u aanriep is gesloten of bestaat niet meer.</p><br>
          <hr><br>
          </div>
          
          </div>

        <div class="header-content mx-auto ">
          <br><p style="color:#fbb334">____________________________________</p><br><br><br>
          <img src="assets/logo.png" class="img-fluid" alt="Responsive image"><br><br><br><br><br>
          <h4 *ngIf="!alreadyFilled && !formClosed" style="color:#fbb334">Hoe veilig is uw bedrijf?</h4>
          <h6 *ngIf="!alreadyFilled && !formClosed" style="color:#fff">Breng het in kaart met Atgard</h6><br><br><br>
          <!-- <h1 class="mb-5">Zelfscan</h1> -->
          <!-- <a data-toggle="modal" data-target="#exampleModal" class="btn btn-outline btn-xl js-scroll-trigger">Start!</a> -->
          

        </div>

      </div>

    </div>
  </div>
</header>

<div *ngIf="!alreadyFilled && !formClosed" >
<div id="watt" class="container pt-5 pb-5">

  <div class="row no-gutters pt-5 pb-5">
    <br><br><br>
    <div class="col-md-6 d-flex align-items-center bg-white">
      <div class="mr-5 ml-5 mt-5">
        <h1 class="headingbig pb-3" style="color: #15395d">Wat is Atgard?</h1>
        <p>Atgard is een slim digitaal instrument dat meet met welke onderdelen op het gebied van veiligheid u aan de slag moet in een bedrijf.<br><br>
          Met Atgard maken we een scan van de huidige situatie. We brengen de balans in kaart tussen de voorschriften, de organisatorische maatregelen en de mensen binnen het bedrijf.</p><br><br><br>
        
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-center bg-white"> <img class="img-fluid"  src="assets/profile-one.png"> </div>
    <br><br><br>
    <div class="col-md-6 order-md-12  d-flex align-items-center bg-white">
      <div class="ml-5 mr-5 pb-5 mt-5">
        <h2 class="headingbig pb-3"></h2>
        <p>Hoe is het gesteld met de motivatie, de kennis en vaardigheden en het gevoel van veiligheid binnen het bedrijf? <br><br> Welke verleidingen liggen op de loer die medewerkers ertoe bewegen om van de voorschriften af te wijken?</p>
        <div class="d-flex"> <a href="" class="mr-2">
            <div class="social-icon d-flex align-items-center justify-content-center"> <i class="lni-facebook"></i></div>
          </a> <a href="" class="mr-2">
            <div class="social-icon d-flex align-items-center justify-content-center"> <i class="lni-linkedin"></i></div>
          </a> <a href="" class="mr-2">
            <div class="social-icon d-flex align-items-center justify-content-center"> <i class="lni-twitter"></i></div>
          </a> </div>
      </div>
    </div>
    <div class="col-md-6 order-md-1  d-flex align-items-center bg-white"> <img class="img-fluid" src="assets/profile-two.png" style="border-radius: 20px;"> </div>

  </div>
</div>
<!-- Header -->
<header class="py-5 mb-5" style="background-color:#091929">
  <div class="container h-100"><br><br><br>
    <div class="row text-center" style="color:white !important">
      
      <div class="col-md-4" style="padding:30px">
        <i class="fa fa-user fa-4x mb-3" style="color:#fbb334"></i>
        <br><h3 style="color:#008caa" >Gemakkelijk</h3><br>
        
        <p>Via de mail ontvangen betrokkenen een link met uitnodiging om input aan te leveren.<br><br>De in te vullen meerkeuze vragenlijst  duurt niet lang om te maken.</p>
      </div>
      <div class="col-md-4" style="padding:30px">
        <i class="fa fa-user-secret fa-4x mb-3" style="color:#fbb334"></i>
        <br><h3 style="color:#008caa">Anoniem</h3><br>
        
        
        <p>Alle input wordt volledig anoniem verzameld. Resultaten bestaan uit gemiddeldes en zijn niet terug te herleiden naar een individu.<br><br>Behalve emailadressen om de uitnodidingen te kunnen versturen is er verder niets nodig.</p>
      </div>
      <div class="col-md-4" style="padding:30px" >
        <i class="fa fa-bullseye fa-4x mb-3" style="color:#fbb334"></i>
        <br><h3 style="color:#008caa">Visueel rapport</h3><br>
        
        
        <p>Door middel van aparte vragenlijsten voor werknemers en leidinggevenden krijgen we een duidelijk beeld van het bedrijf.<br><br>Het visuele verslag wat hieruit vloeit laat zien wat er al goed gaat, maar ook waar eventuele aandachtspunten liggen.</p>
      </div>
    </div><br><br>
  </div>
</header>

<!-- Page Content -->
<div class="container" id="waarr">
<br><br><br>
  <div class="row" >
    <div class="col-md-6 mb-5" style="padding:30px">
      <br><br>
      <h1 style="color: #15395d">Waarom?</h1><br>
      In een succesvol bedrijf is veiligheid een prioriteit. Toch staan incidenten en onveilige situaties dit vaak in de weg. Komt dit omdat medewerkers van de voorschriften afwijken? Of zijn de voorschriften misschien onduidelijk? En zijn de juiste veiligheidsvoorzieningen aanwezig?<br><br> Met Atgard onderzoeken we dit. Als we weten waar het probleem zit, kunnen we gericht met veiligheid aan de slag.
      Met Atgard kan uw bedrijf aan de slag om:<br><br>
      <ul>
        <li>De kans op incidenten en de kosten hiervan te verminderen</li>
        <li>Effectief te werken aan veiligheid met resultaat binnen 1 jaar</li>
        <li>Medewerkers te stimuleren om zelf (veiligheids)problemen aan te pakken</li>
        <li>Stappen en resultaten op het gebied van veiligheid in kaart te brengen</li>
        <li>Voor een veilige omgeving te zorgen, met gebruik van bestaande (veiligheids)systemen</li>
      </ul>
      <!-- <a class="btn btn-primary btn-lg" href="#">Call to Action &raquo;</a> -->
    </div>
    <div class="col-md-6 mb-5" style="padding:30px">
      <img class="img-fluid" src="assets/running.jpg" style="border-radius: 15px;">
      <!-- <h2>Contact Us</h2>
      <hr>
      <address>
        <strong>Start Bootstrap</strong>
        <br>3481 Melrose Place
        <br>Beverly Hills, CA 90210
        <br>
      </address>
      <address>
        <abbr title="Phone">P:</abbr>
        (123) 456-7890
        <br>
        <abbr title="Email">E:</abbr>
        <a href="mailto:#">name@example.com</a>
      </address> -->
    </div>
  </div>
 
  <!-- /.row -->

  <!-- <div class="row" id="waarr">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/300x200" alt="">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/300x200" alt="">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus totam ut praesentium aut.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/300x200" alt="">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
  </div> -->
  <!-- /.row -->

</div>
<div id="contactt" class="container-fluid text-center" style='background-color: #090627;'><br><br><br><br><br><br>
  <div class="container">
    
    <div class="jumbotron" style='background-color: #fff;'>
      <h1 style="color: #15395d">Contact</h1>
      <p class="lead">Wij staan u graag te woord voor verdere informatie.</p><br>
      <h3>Geïnteresseerd?</h3>
      
      <a class="btn btn-lg btn-primary" style="padding:30px " href="mailto:info@atgard.nl" role="button">Neem contact op</a>
    </div>
  </div><br><br><br><br><br><br>
</div>
</div>







<section class="contact" id="contact">
  <div class="container">
    <h6>Copyright ©
      <a href="https://www.ri-s.com" target="_blank">RI&S</a>
    </h6>
  </div>
</section>
