<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Inloggen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="">
          <h5 class="m-b-2">Sleutel</h5>

          <!-- <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Organisatie
            </button> {{dropdownOrga}}
            <br>
            <br>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button" (click)="dropdownOrga = 'orga 1'">Orga 1</button>
              <button class="dropdown-item" type="button" (click)="dropdownOrga = 'orga 2'">Orga 2</button>
              <button class="dropdown-item" type="button" (click)="dropdownOrga = 'orga 3'">Orga 3</button>
            </div>
          </div> -->

          <fieldset class="form-group has-danger">
            <label for="password" class="form-control-label">Vul hier de verkregen sleutel in:</label>
            <input [(ngModel)]="usrPwd" [ngModelOptions]="{standalone: true}" type="password" class="form-control form-control-danger"
              id="password">
          </fieldset>


          <button (click)="loginAttempt()"  class="btn btn-primary btn-lg">Login</button>
          
        </form><br>
        <div style='color:orangered' *ngIf="errorMsg == true">Geen (geldige) sleutel ingevoerd</div>
        <div style='color:orangered' *ngIf="errorMsg2 == true">De sleutel klopt, alleen het formulier is gesloten</div>
      </div>
    </div>
  </div>
</div>


  


  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <!-- Navigation -->
   
      <div class="d-flex flex-column flex-md-row align-items-center fixed-top p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal">Atgard</h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" pageScroll href="#wiee">Wie</a>
          <a class="p-2 text-dark" pageScroll href="#watt">Wat</a>
          <a class="p-2 text-dark" pageScroll href="#waarr">Waar</a>
          <a class="p-2 text-dark" pageScroll href="#contactt">Contact</a>
        </nav>
        <a class="btn btn-outline-primary" routerLink="/admin">Inloggen</a>
      </div>
    
  
  
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 my-auto">
          <div *ngIf="alreadyFilled" class="alert alert-succes">U heeft deze vragenlijst al ingevuld. U hoeft niets meer te doen!<br></div>
          <div *ngIf="formClosed" class="alert alert-succes">De vragenlijst die u aanriep is gesloten.<br></div>

          <div class="header-content mx-auto">
            <img src="assets/logo.png" class="img-fluid" alt="Responsive image">
            <h1 class="mb-5">Zelfscan</h1>
            <!-- <a data-toggle="modal" data-target="#exampleModal" class="btn btn-outline btn-xl js-scroll-trigger">Start!</a> -->
          </div>
        </div>
        <div class="col-lg-5 my-auto">

        </div>
      </div>
    </div>
  </header>

  <section class="py-5 bg-blue">
    <div class="container">
	<div class="row mb-3">
		<div class="col-md-12 text-center"><br><br>
		    <h2>Krijg inzicht in je organisatie<br></h2>
		</div>
	</div><br><br>
	<div class="row">
	    <div class="col-md-4 text-center">
	        <i class="fa fa-bullseye fa-4x text-danger mb-3"></i>
	        <h5>Een uitgebreid rapport</h5>
	        <p>Uiteindelijk .. doormiddel van ons....</p>
	    </div>
	    <div class="col-md-4 text-center">
	        <i class="fa fa-user fa-4x text-success mb-3"></i>
	        <h5>Gemakkelijk</h5>
	        <p>Via een simpele link in de mail vullen medewerkers gemakkelijk de input</p>
	    </div>
	    <div class="col-md-4 text-center">
	        <i class="fa fa-user-secret fa-4x text-warning mb-3"></i>
	        <h5>Anoniem</h5>
	        <p>Werknemers vullen anoniem een vragenlijst. Privacy staat bij ons voorop.</p>
	    </div>
	</div>
</div><br><br><br>
</section>
<div id="wiee" class="container pt-5 pb-5">
  <div class="row no-gutters pt-5 pb-5">
    <div class="col-md-6 d-flex align-items-center bg-white">
      <div class="mr-5 ml-5 mt-5">
        <h2 class="headingbig pb-3">Kevin Richardson</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio mollitia, ipsa accusamus eius. Aspernatur ab sed minima, doloremque eligendi voluptatibus repellat unde, facilis natus ex ipsum eius atque suscipit fugit.</p>
        <div class="d-flex dd pb-3"> <a href="" class="mr-2">
          <div class="social-icon d-flex align-items-center justify-content-center"> <i class="lni-facebook"></i></div>
          </a> <a href="" class="mr-2">
          <div class="social-icon d-flex align-items-center justify-content-center"> <i class="lni-linkedin"></i></div>
          </a> <a href="" class="mr-2">
          <div class="social-icon d-flex align-items-center justify-content-center"> <i class="lni-twitter"></i></div>
          </a> </div>
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-center bg-white"> <img class="img-fluid" src="https://bootstraplily.com/demo/about-section/about-one/img/profile-one.jpg"> </div>
    <div class="col-md-6 order-md-12  d-flex align-items-center bg-white">
      <div class="ml-5 mr-5 pb-5 mt-5">
        <h2 class="headingbig pb-3">Jenifer Brening</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio mollitia, ipsa accusamus eius. Aspernatur ab sed minima, doloremque eligendi voluptatibus repellat unde, facilis natus ex ipsum eius atque suscipit fugit.</p>
        <div class="d-flex"> <a href="" class="mr-2">
          <div class="social-icon d-flex align-items-center justify-content-center"> <i class="lni-facebook"></i></div>
          </a> <a href="" class="mr-2">
          <div class="social-icon d-flex align-items-center justify-content-center"> <i class="lni-linkedin"></i></div>
          </a> <a href="" class="mr-2">
          <div class="social-icon d-flex align-items-center justify-content-center"> <i class="lni-twitter"></i></div>
          </a> </div>
      </div>
    </div>
    <div class="col-md-6 order-md-1  d-flex align-items-center bg-white"> <img class="img-fluid" src="https://bootstraplily.com/demo/about-section/about-one/img/profile-two.jpg"> </div>
    
  </div>
</div>
<!-- Header -->
<header class="bg-primary py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-5 mb-2">Business Name or Tagline</h1>
        <p class="lead mb-5 text-white-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non possimus ab labore provident mollitia. Id assumenda voluptate earum corporis facere quibusdam quisquam iste ipsa cumque unde nisi, totam quas ipsam.</p>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container">

  <div class="row" id="watt">
    <div class="col-md-8 mb-5">
      <h2>What We Do</h2>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae animi soluta quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo, maiores!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum.</p>
      <a class="btn btn-primary btn-lg" href="#">Call to Action &raquo;</a>
    </div>
    <div class="col-md-4 mb-5">
      <!-- <h2>Contact Us</h2>
      <hr>
      <address>
        <strong>Start Bootstrap</strong>
        <br>3481 Melrose Place
        <br>Beverly Hills, CA 90210
        <br>
      </address>
      <address>
        <abbr title="Phone">P:</abbr>
        (123) 456-7890
        <br>
        <abbr title="Email">E:</abbr>
        <a href="mailto:#">name@example.com</a>
      </address> -->
    </div>
  </div>
  <!-- /.row -->

  <div class="row" id="waarr">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/300x200" alt="">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/300x200" alt="">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus totam ut praesentium aut.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/300x200" alt="">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

</div>
<div id="contactt" class="container-fluid" style='background-color: #090627;'><br><br><br><br><br><br>
<div class="container"><div class="jumbotron" style='background-color: #fff;'>
  <h1>Geïnteresseerd?</h1>
  <p class="lead">Vragen over deze tool? ....</p>
  <a class="btn btn-lg btn-primary" href="mailto:test@test.nl" role="button">Neem contact op</a>
</div></div><br><br><br><br><br><br></div>







  <section class="contact" id="contact">
    <div class="container">
      <h6>Copyright © 
        <a href="https://www.ri-s.com" target="_blank">RI&S</a>
      </h6>
    </div>
  </section>




