<div class="#ppage">
<div class="modal fade" id="adminModal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog"
  aria-labelledby="adminModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Admin inlog</h5>

      </div>
      <div class="modal-body">
        <form class="">

          <fieldset class="form-group has-danger">
            <label for="password" class="form-control-label">Emailadres:</label>
            <input [(ngModel)]="admnEmail" [ngModelOptions]="{standalone: true}" type="email"
              class="form-control form-control-danger" id="password">
          </fieldset>

          <fieldset class="form-group has-danger">
            <label for="password" class="form-control-label">Wachtwoord:</label>
            <input [(ngModel)]="admnPwd" [ngModelOptions]="{standalone: true}" type="password"
              class="form-control form-control-danger" id="email">
          </fieldset>
          <button (click)="loginAttempt()" class="btn btn-primary btn-lg">Login</button>
        </form>
        <br>
        <div style='color:orangered' *ngIf="errorMsg == true">Geen juiste inloggegevens
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-add" tabindex="-1" role="dialog" aria-labelledby="modal-add" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nieuwe groep toevoegen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="group_name_add" class="col-form-label">Nieuwe groepnaam:</label>
            <input [(ngModel)]="groupName" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
              id="group_name_add">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluit</button>
        <button type="button" (click)="makeGroup()" data-dismiss="modal" class="btn btn-primary">Toevoegen</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-usertogroups" id="usertogroupModal" tabindex="-1" role="dialog" aria-labelledby="modal-add"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Groepen aan admins</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"><br>
        <p>Hier kunnen admins aan groepen worden gehangen</p>
        <p>Als een admin (niet Superadmin) een nieuwe groep aanmaakt, wordt deze automatisch aan zijn/haar hieraan toegevoegd.
        </p>
        
        <br>
        <input [(ngModel)]="searchadminstogroup" [ngModelOptions]="{standalone: true}" type="text" class="form-control" (keyup)="updateFilter('admintogroups',$event)" placeholder="Zoeken..">&nbsp;&nbsp;<br>
        <ngx-datatable *ngIf="loading == false" class="material" [rows]="allGroupRows" [columns]="columns"
          [columnMode]="'force'" [messages]="tableMessages" [headerHeight]="40" [footerHeight]="40" [limit]="40" [rowHeight]="'auto'">
          <ngx-datatable-column name="Titel" [sortable]="true">
            <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
              <span (click)="sort()" style="cursor:pointer">
                {{column.name}}
              </span>
            </ng-template>

            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <div [innerHTML]="row['name']"></div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Aan groep">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="button" *ngIf="!row['ingroup']" (click)="groupCourseHandler('add',row['id'])"
                  class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
                <button type="button" *ngIf="row['ingroup']" (click)="groupCourseHandler('rem',row['id'])"
                  class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></button>

              </div>
            </ng-template>

          </ngx-datatable-column>






        </ngx-datatable>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluit</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade modal-grouplist" id="grouplist" tabindex="-1" role="dialog" aria-labelledby="modal-add"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Groepslijst</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
        <p>Hier kunnen emailadressen aan groepen worden gekoppeld die de zelfscan moeten uitvoeren</p>
        <p>Ook kunnen hier personen aangewezen worden om de checklist uit te voeren</p>
        <div class="btn-group">
        <button type="button" 
                class="btn btn-primary" (click)="addClick('user')" data-toggle="modal">
                <i class="fa fa-plus"></i>&nbsp; Email toevoegen
              </button>
              <button type="button" 
                class="btn btn-warning" (click)="addClick('bulk')" data-toggle="modal">
                <i class="fa fa-plus"></i>&nbsp; Bulk CSV import
              </button>
              <button type="button" 
                class="btn btn-info" (click)="addClick('sendmails')" data-toggle="modal">
                <i class="fa fa-plus"></i>&nbsp; Mails versturen
              </button>
            </div><br><br>

            <div *ngIf="userAddUser">
            <fieldset class="form-group has-danger">
              <label class="form-control-label">Emailadres:</label>
              <input [(ngModel)]="emailAdd" [ngModelOptions]="{standalone: true}" type="email"
                class="form-control form-control-danger" id="emailadd">
               
            </fieldset> <button type="button" (click)="addUser()"
            class="btn btn-primary" data-toggle="modal">
            <i class="fa fa-plus"></i>&nbsp;Voeg toe
          </button></div>

          <div *ngIf="userAddBulk">
            <fieldset class="form-group has-danger">
              <label class="form-control-label">CSV bestand upload</label>
               <div class="form-group">
                    <input type="file" [(ngModel)]="fileHolder" [ngModelOptions]="{standalone: true}" (change)="onFileSelect($event.target)" name="myfile">
               </div>
            </fieldset></div>
          
            <div *ngIf="userSendMails">
              <hr>
              <p>Klik op de knop hieronder om mails te versturen naar iedereen van deze lijst die de scan nog niet heeft gemaakt</p>
              
              <button type="button" style="margin:10px;padding:10px" class="btn btn-info">Mails versturen</button>
          </div><br><br>
          </div>

          <div class="text-center">
          <div class="fa fa-user fa-2x" style="color:blue"></div> = vragenlijst&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="fa fa-user-circle fa-2x" style="color:rgb(146, 9, 112)"></div> = Checklistgebruiker<br><br></div>
          <br> <input [(ngModel)]="searchusersemail" [ngModelOptions]="{standalone: true}" type="text" class="form-control" (keyup)="updateFilter('usersemail',$event)" placeholder="Zoeken op email..">&nbsp;&nbsp;<br>

        <ngx-datatable *ngIf="loading == false" class="material" [rows]="groupListUsers" [columns]="columns"
        [columnMode]="'force'" [messages]="tableMessages" [headerHeight]="40" [footerHeight]="40" [limit]="40" [rowHeight]="'auto'">
          <ngx-datatable-column name="Email" [sortable]="true">
            <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
              <span (click)="sort()" style="cursor:pointer">
                {{column.name}}
              </span>
            </ng-template>

            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <div [innerHTML]="row['email']"></div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Link" [sortable]="true">
            <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
              <span (click)="sort()" style="cursor:pointer">
                {{column.name}}
              </span>
            </ng-template>

            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <div [innerHTML]="locc + '/login/' + row['id'] +'/'+ row['unlockkey']"></div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Checklist">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <div class="text-center" style="cursor: pointer;">
              <i (click)="changeUserType(row['id'], row['filled'], 2)" *ngIf="row['type'] == '1'" class="fa fa-user fa-3x" style="color:blue" ></i>
              <i (click)="changeUserType(row['id'], row['filled'], 1)" *ngIf="row['type'] == '2'" class="fa fa-user-circle fa-3x" style="color:rgb(146, 9, 112)" ></i>
            </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Ingevuld">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <i *ngIf="row['filled'] == '1'" class="fa fa-check" aria-hidden="true" style="color: green;"></i>
              <i *ngIf="row['filled'] == '0'" class="fa fa-times" aria-hidden="true" style="color: red;"></i>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Verwijder resultaat">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <button type="button" (click)="groupCourseHandler('rem',row['id'])"
                  class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
              <!-- <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                          <button type="button" *ngIf="!row['ingroup']"
                            (click)="groupCourseHandler('add',row['id'])" class="btn btn-primary"><i
                              class="fa fa-plus" aria-hidden="true"></i></button>
                          <button type="button" *ngIf="row['ingroup']"
                            (click)="groupCourseHandler('rem',row['id'])" class="btn btn-danger"><i
                              class="fa fa-minus" aria-hidden="true"></i></button>
  
                        </div> -->
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluit</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade modal-edit" tabindex="-1" role="dialog" aria-labelledby="modal-edit" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bewerk groep</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="group_name_edit" class="col-form-label">Groepnaam:</label>
            <input [(ngModel)]="groupName" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
              id="group_name_edit">
          </div>
        </form>
        <p><b>TODO: </b> Maak verwijderen groepen mogelijk, met eerst 'weet je het zeker' bericht</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluit</button>
        <button type="button" (click)="editGroup()" class="btn btn-primary" data-dismiss="modal">Wijzigingen
          opslaan</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade modal-useredit" tabindex="-1" role="dialog" aria-labelledby="modal-edit" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bewerk gebruiker</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="group_name_edit" class="col-form-label">Naam:</label>
            <input [(ngModel)]="ausrName" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
              id="usr_name_edit">
          </div>

          <div class="form-group">
            <label for="group_name_edit" class="col-form-label">Achternaam:</label>
            <input [(ngModel)]="ausrLastName" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
              id="usr_lastname_edit">
          </div>

          <div class="form-group">
            <label for="group_name_edit" class="col-form-label">Email:</label>
            <input [(ngModel)]="ausrEmail" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
              id="usr_name_email">
          </div>
          <div class="form-group">
          
              <p>Als onderstaand wachtwoord veld leeg wordt gelaten, verandert het oude wachtwoord niet.</p>
            <label for="group_name_edit" class="col-form-label">Gewenst wachtwoord:</label>
            <input [(ngModel)]="ausrWw" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
              id="usr_ww_edit">
          </div>

          <div class="form-group">
            <label for="group_name_edit" class="col-form-label">Type:</label>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" [checked]="ausrType === '1'" class="form-check-input" value="1"
                  (change)="ausrType = 1" name="typeA">Admin
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" (change)="ausrType = 2" [checked]="ausrType === '2'" class="form-check-input"
                  value="2" name="typeA">Super Admin
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluit</button>
        <button type="button" (click)="editAusr()" class="btn btn-primary">Wijzigingen opslaan</button>
      </div>
    </div>
  </div>
</div>



<!-- user modal -->

<div class="modal fade modaluser-add" id="useraddmodal" tabindex="-1" role="dialog" aria-labelledby="modaluser-add"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nieuwe Admin toevoegen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="group_name_edit" class="col-form-label">Naam:</label>
            <input [(ngModel)]="ausrName" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
              id="usr_name_new">
          </div>

          <div class="form-group">
            <label for="group_name_edit" class="col-form-label">Achternaam:</label>
            <input [(ngModel)]="ausrLastName" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
              id="usr_lastname_new">
          </div>

          <div class="form-group">
            <label for="group_name_edit" class="col-form-label">Email:</label>
            <input [(ngModel)]="ausrEmail" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
              id="usr_email_new">
          </div>

          <div class="form-group">
            <label for="group_name_edit" class="col-form-label">Gewenst wachtwoord:</label>
            <input [(ngModel)]="ausrWw" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
              id="usr_ww_new">
          </div>


          <div class="form-group">
            <label for="group_name_edit" class="col-form-label">Type:</label>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" [checked]="ausrType === '1'" class="form-check-input" value="1"
                  (change)="ausrType = 1" name="typeA">Admin
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" (change)="ausrType = 2" [checked]="ausrType === '2'" class="form-check-input"
                  value="2" name="typeA">Super Admin
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluit</button>
        <button type="button" (click)="makeUser()" class="btn btn-primary">Toevoegen</button>
      </div>
    </div>
  </div>
</div>


<ng-template #areusure>
  <!-- (click)="openSureModal(areusure,'deletecourse',row.id) -->
  <div class="modal-body text-center">
    <p>Je staat op het punt om dit item te verwijderen</p>
    <p>Weet je het zeker?</p>
    <button type="button" class="btn btn-default" (click)="sureModal('no')">Nee</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-primary" (click)="sureModal('yes')">Ja</button>
  </div>
</ng-template>




<!-- content -->

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<div *ngIf="adminLogged == true">
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0">Admin</a>

    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a (click)="logOut()" class="nav-link">Log uit</a>
      </li>
    </ul>
  </nav>

  <div class="container">

    <div class="row">
      <br><br>
      <div class="col-sm-12 col-md-6">
        <ul class="nav flex-column">
          <div *ngIf="admnType === 2"><h3 style="color: #d53b2f">Superadmin</h3></div>
          <li class="nav-item">
            <a class="nav-link active">
              <img src="assets/logo.png" class="img-fluid" alt="Responsive image">
            </a>
          </li>
        </ul>
      </div>

      <!-- <div class="col-sm-12 col-md-6"> <div class="text-center">
        <img src="assets/headban.png" class="img-fluid" alt="Responsive image">
      </div></div> -->
      <main role="main" class="col-md-12">
        <br>

        


        
       
        <tabset [justified]="true">
          <tab heading="Beheer" *ngIf="admnType === 2" (selectTab)="onSelect($event, 'admins')"><br><br>
            <p>Het beheer Admins</p>

            <div
              class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

              <h2 class="h2">Admins</h2><button type="button" (click)="resetUsersVals()"
                class="btn btn-primary btn-lg float-right" data-toggle="modal" data-target=".modaluser-add">
                <i class="fa fa-plus"></i>
              </button>
            </div>

            <input [(ngModel)]="adminname" [ngModelOptions]="{standalone: true}" type="text" class="form-control" (keyup)="updateFilter('adminname',$event)" placeholder="Zoeken op naam..">&nbsp;&nbsp;<br>
            <ngx-datatable class="material" [scrollbarH]="true" [rows]="manageRows" [columns]="columns"
              [columnMode]="'force'" [messages]="tableMessages" [headerHeight]="40" [footerHeight]="40" [limit]="40" [rowHeight]="'auto'">
              <ngx-datatable-column name="Naam" prop="name" [sortable]="true">

                <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
                  <span (click)="sort()" style="cursor:pointer">
                    {{column.name}}
                  </span>
                </ng-template>

                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <div [innerHTML]="row['name'] + ' ' + row['lastname']"></div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Acties">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <div class="btn-group" style="border-radius: 10px; color: white" role="group"
                    aria-label="Basic example">
                    
                    <button (click)="openUserToGroupModal(row.id)" type="button" style="color: white"
                      class="btn btn-primary" data-toggle="modal" data-target=".modal-usertogroups">
                      <i class="fa fa-group"></i>
                    </button>
                    <button (click)="openEditUserModal(row.id)" type="button" style="color: white" class="btn btn-info"
                      data-toggle="modal" data-target=".modal-useredit">
                      <i class="fa fa-edit"></i>
                    </button><br>
                    <button (click)="openDeleteModal('auser', row.id)" type="button" style="color: white" class="btn btn-danger">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </ng-template>

              </ngx-datatable-column>
              

              <ngx-datatable-column name="Email" prop="email" [sortable]="true">

                <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
                  <span style="cursor:pointer">
                    {{column.name}}
                  </span>
                </ng-template>

                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <div [innerHTML]="row['email']"></div>
                </ng-template>

              </ngx-datatable-column>

              <ngx-datatable-column name="type" prop="type" [sortable]="true">

                <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
                  <span style="cursor:pointer">
                    {{column.name}}
                  </span>
                </ng-template>

                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <div *ngIf="row['type'] === '1'">Beheerder</div>
                  <div *ngIf="row['type'] === '2'">Admin</div>
                </ng-template>

              </ngx-datatable-column>

              
            </ngx-datatable>
          </tab>

          <tab heading="Groepen"  (selectTab)="onSelect($event, 'groups')">
            <br><br>
            <p>Het beheer van groepen</p>

            <div
              class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

              <h2 class="h2">Groepen</h2>
              <button type="button" (click)="resetGroupVals()" class="btn btn-primary btn-lg float-right"
                data-toggle="modal" data-target=".modal-add">
                <i class="fa fa-plus"></i>
              </button>
            </div>
            <div *ngIf="!showScore">
              <br>        <input [(ngModel)]="searchgroupname" [ngModelOptions]="{standalone: true}" type="text" class="form-control" (keyup)="updateFilter('groupname',$event)" placeholder="Zoeken..">&nbsp;&nbsp;<br>
             
              <ngx-datatable [scrollbarH]="true" class="material" [rows]="groupRows" [columns]="columns"
                [columnMode]="'force'" [messages]="tableMessages" [headerHeight]="40" [footerHeight]="40" [limit]="40" [rowHeight]="'auto'">
                <ngx-datatable-column name="Titel" [sortable]="true">
                  <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
                    <span (click)="sort()" style="cursor:pointer">
                      {{column.name}}
                    </span>
                  </ng-template>

                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div [innerHTML]="row['name']"></div>
                  </ng-template>
                </ngx-datatable-column>
               
                <ngx-datatable-column name="Actief" [sortable]="true">

                  <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
                    <span style="cursor:pointer">
                      {{column.name}}
                    </span>
                  </ng-template>

                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <p>{{row.Title}}
                      <input type="checkbox" id="{{row.Title}}" name="{{row.Title}}" [(ngModel)]="row.status"
                        (change)="publishToggle(row.id,row.status)" />
                      <label for="{{row.Title}}"></label>
                    </p>
                  </ng-template>

                </ngx-datatable-column>



              <!--   <ngx-datatable-column name="Aantal Ingevuld">
                  <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
                    <span style="cursor:pointer">
                      {{column.name}}
                    </span>
                  </ng-template>

                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    .. / ..
                  </ng-template>

                </ngx-datatable-column> -->


                <ngx-datatable-column name="Acties">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div class="btn-group" style="border-radius: 10px; color: white" role="group"
                      aria-label="Basic example">
                      <button (click)="showGroupList(row.id)" type="button" style="color: white" class="btn btn-primary"
                        data-toggle="modal" data-target=".modal-grouplist">
                        <i class="fa fa-list"></i> Groepslijst
                      </button>
                      <button (click)="showEdit(row.id)" type="button" style="color: white" class="btn btn-info"
                        data-toggle="modal" data-target=".modal-edit">
                        <i class="fa fa-edit"></i> Edit
                      </button>
                      
                    </div>
                  </ng-template>

                </ngx-datatable-column>


                <ngx-datatable-column name="Landkaart">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div class="btn-group" style="border-radius: 10px; color: white" role="group"
                      aria-label="Basic example">
                      <button style="color: white;" (click)="showResult(row.id)" type="button" class="btn btn-warning">
                        <i class="fa fa-eye" ></i> Landkaart
                      </button>
                    </div>
                  </ng-template>

                </ngx-datatable-column>

                <ngx-datatable-column name="Aangemaakt" [sortable]="true">

                  <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
                    <span style="cursor:pointer">
                      {{column.name}}
                    </span>
                  </ng-template>

                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div [innerHTML]="row['made']"></div>
                  </ng-template>

                </ngx-datatable-column>




              </ngx-datatable>
            </div>

            <hr>
            <div *ngIf="showScore">
              
              <div class="container ">
                <button type="button" (click)="showScore = false" class="btn btn-primary" data-toggle="modal">
                  <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;Terug naar Overzicht
                </button>&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" (click)="printResult()" class="btn btn-primary" data-toggle="modal">
                  <i class="fa fa-print"></i>&nbsp;&nbsp;&nbsp;&nbsp;Print resultaat / Sla op als PDF
                </button>
                <div class="myDivToPrint" id="myDivToPrint">
                <br>
                <h2>{{currentGroup}}</h2>
                <p>Ingevulde vragenlijsten: <b>{{howManySendQuestions}}/..</b><br>
                  Checklisten: <b>{{howManySendChecklist}}</b></p>
                <br>
                <table style="float: left; height: 1028px;" width="100%" cellpadding="10">
                  <tbody>
                    <tr style="height: 23px;">
                      <td style="height: 23px; width: 15px;" colspan="3">Mens</td>
                      <td style="height: 23px; width: 15px;" colspan="4"></td>
                    </tr>
                    <tr style="height: 23px;">
                      <td style="height: 23px; width: 15px;"  [style.background-color] = "iz1 > 4 ? 'green' : iz1 < 3.5 ? 'orange' : red">&nbsp;IZ&nbsp;&nbsp;&nbsp;&nbsp;<b>{{iztot}}</b><br>Ik zie</td>
                      <td style="height: 23px; width: 10px;">&nbsp;IZ 1&nbsp;&nbsp;&nbsp;&nbsp;<b>{{iz1}}</b><br>Aansturen op veilig gedrag / voorbeeld gedrag management<br><br></td>
                      <td style="height: 23px; width: 15px;">&nbsp;IZ 2&nbsp;&nbsp;&nbsp;&nbsp;<b>{{iz2}}</b><br>Toezicht & handhaving</td>
                      <td style="height: 23px; width: 15px;">&nbsp;IZ 3&nbsp;&nbsp;&nbsp;&nbsp;<b>{{iz3}}</b><br>Aanspreekcultuur</td>
                    </tr>
                    <tr style="height: 23px;">
                      <td style="height: 23px; width: 15px;">&nbsp;IW&nbsp;&nbsp;&nbsp;&nbsp;<b>{{iwtot}}</b><br>Ik wil</td>
                      <td style="height: 23px; width: 10px;">&nbsp;IW 1&nbsp;&nbsp;&nbsp;&nbsp;<b>{{iw1}}</b><br>Positieve houding t.a.v. veiligheid</td>
                      <td style="height: 23px; width: 15px;">&nbsp;IW 2&nbsp;&nbsp;&nbsp;&nbsp;<b>{{iw2}}</b><br>Regels volgen / respecteren</td>
                      <td style="height: 23px; width: 15px;">&nbsp;IW 3&nbsp;&nbsp;&nbsp;&nbsp;<b>{{iw3}}</b><br>Opleidingsbehoefte</td>
                    </tr>
                    <tr style="height: 23px;">
                      <td style="height: 23px; width: 15px;">&nbsp;IWE&nbsp;&nbsp;&nbsp;&nbsp;<b>{{iwetot}}</b><br>Ik weet</td>
                      <td style="height: 23px; width: 10px;">&nbsp;IWE 1&nbsp;&nbsp;&nbsp;&nbsp;<b>{{iwe1}}</b><br>Vakkennis</td>
                      <td style="height: 23px; width: 15px;">&nbsp;IWE 2&nbsp;&nbsp;&nbsp;&nbsp;<b>{{iwe2}}</b><br>Kennis veiligheid algemen</td>
                      <td style="height: 23px; width: 15px;">&nbsp;IWE 3&nbsp;&nbsp;&nbsp;&nbsp;<b>{{iwe3}}</b><br>Veiligheidsbewustzijn</td>
                      <td style="height: 23px; width: 15px;">&nbsp;IWE 4&nbsp;&nbsp;&nbsp;&nbsp;<b>{{iwe4}}</b><br>Uitwisselen informatie</td>
                    </tr>
                    <tr style="height: 23px;">
                      <td style="height: 23px; width: 15px;">&nbsp;IK&nbsp;&nbsp;&nbsp;&nbsp;<b>{{iktot}}</b><br>Ik kan</td>
                      <td style="height: 23px; width: 10px;">&nbsp;IK 1&nbsp;&nbsp;&nbsp;&nbsp;<b>{{ik1}}</b><br>Vaardigheden</td>
                      <td style="height: 23px; width: 15px;">&nbsp;IK 2&nbsp;&nbsp;&nbsp;&nbsp;<b>{{ik2}}</b><br>Randvoorwaarden veilig werken</td>
                      <td style="height: 23px; width: 15px;">&nbsp;IK 3&nbsp;&nbsp;&nbsp;&nbsp;<b>{{iz3}}</b><br>Overleg veiligheid</td>
                    </tr>
                    <tr style="height: 23px;">
                      <td style="height: 23px; width: 15px;" colspan="3">Organisatie</td>
                      <td style="height: 23px; width: 15px;" colspan="4"></td>
                    </tr>
                    <tr style="height: 23px;">
                      <td style="height: 23px; width: 15px;">&nbsp;CW&nbsp;&nbsp;&nbsp;&nbsp;<b>{{cwtot}}</b><br>Compliance, wetgeving &amp; richtlijnen</td>
                      <td style="height: 23px; width: 10px;">&nbsp;CW 1&nbsp;&nbsp;&nbsp;&nbsp;<b>{{cw1}}</b><br>Arbowet</td>
                      <td style="height: 23px; width: 15px;">&nbsp;CW 2&nbsp;&nbsp;&nbsp;&nbsp;<b>{{cw2}}</b><br>Moederorganisatie</td>
                      <!-- <td style="height: 23px; width: 15px;">&nbsp;CW 3&nbsp;&nbsp;&nbsp;&nbsp;<b>{{cw3}}</b><br>Andere relevante wetgeving</td> -->
                    </tr>
                    <tr style="height: 23px;">
                      <td style="height: 23px; width: 15px;">&nbsp;VB&nbsp;&nbsp;&nbsp;&nbsp;<b>{{vbtot}}</b><br>Veiligheidsbeleid</td>
                      <td style="height: 23px; width: 10px;">&nbsp;VB 1&nbsp;&nbsp;&nbsp;&nbsp;<b>{{vb1}}</b><br>Veiligheidsbeleid vastgelegd</td>
                      <td style="height: 23px; width: 15px;">&nbsp;VB 2&nbsp;&nbsp;&nbsp;&nbsp;<b>{{vb2}}</b><br>Veiligheidsbeleid vertaald in functieomschrijving</td>
                      <td style="height: 23px; width: 15px;">&nbsp;VB 3&nbsp;&nbsp;&nbsp;&nbsp;<b>{{vb3}}</b><br>Veiligheidsbeleid bekend &amp; beschikbaar</td>
                    </tr>
                    <tr style="height: 23px;">
                      <td style="height: 23px; width: 15px;">&nbsp;OPL&nbsp;&nbsp;&nbsp;&nbsp;<b>{{opltot}}</b><br>Opleiding</td>
                      <td style="height: 23px; width: 10px;">&nbsp;OPL 1&nbsp;&nbsp;&nbsp;&nbsp;<b>{{opl1}}</b><br>Eisen vastgelegd</td>
                      <td style="height: 23px; width: 15px;">&nbsp;OPL 2&nbsp;&nbsp;&nbsp;&nbsp;<b>{{opl2}}</b><br>Opleidingsplan</td>
                      <td style="height: 23px; width: 15px;">&nbsp;OPL 3&nbsp;&nbsp;&nbsp;&nbsp;<b>{{opl3}}</b><br>Registratie</td>
                    </tr>
                    <tr style="height: 23px;">
                      <td style="height: 23px; width: 101px;">&nbsp;Proces&nbsp;&nbsp;&nbsp;&nbsp;<b>{{protot}}</b><br>Beheersing werkzaamheden, beheer &amp; onderhoud</td>
                      <td style="height: 23px; width: 10px;">&nbsp;PRO 1&nbsp;&nbsp;&nbsp;&nbsp;<b>{{pro1}}</b><br>Procedures uitvoeren gevaarlijke werkzaamheden</td>
                      <td style="height: 23px; width: 15px;">&nbsp;PRO 2&nbsp;&nbsp;&nbsp;&nbsp;<b>{{pro2}}</b><br>Procedures omgaan met gevaarlijke materialen</td>
                      <td style="height: 23px; width: 15px;">&nbsp;PRO 3&nbsp;&nbsp;&nbsp;&nbsp;<b>{{pro3}}</b><br>Procedures onderhoud van installaties &amp; uitrusting t.v.b. de veiligheid</td>
                    </tr>
                    <tr style="height: 23px;">
                      <td style="height: 23px; width: 101px;">&nbsp;Communicatie&nbsp;&nbsp;&nbsp;&nbsp;<b>{{comtot}}</b><br>Communicatiestructuren</td>
                      <td style="height: 23px; width: 10px;">&nbsp;COM 1&nbsp;&nbsp;&nbsp;&nbsp;<b>{{com1}}</b><br>Formeel overleg management/werkvloer</td>
                      <td style="height: 23px; width: 15px;">&nbsp;COM 2&nbsp;&nbsp;&nbsp;&nbsp;<b>{{com2}}</b><br>Werknemers betrokken bij risicobeoordeling &amp;onderzoek incidenten</td>
                      <td style="height: 23px; width: 15px;">&nbsp;COM 3&nbsp;&nbsp;&nbsp;&nbsp;<b>{{com3}}</b><br>Communicatie veiligheidsprestaties</td>
                    </tr>
                    <tr style="height: 23px;">
                      <td style="height: 23px; width: 101px;">&nbsp;Borging&nbsp;&nbsp;&nbsp;&nbsp;<b>{{bortot}}</b><br>Meter, monitoren, bijstellen &amp; borgen</td>
                      <td style="height: 23px; width: 10px;">&nbsp;BOR 1&nbsp;&nbsp;&nbsp;&nbsp;<b>{{bor1}}</b><br>Procedure beheer van documenten, inclusief Verant. &amp; Bevoegdh.</td>
                      <td style="height: 23px; width: 15px;">&nbsp;BOR 2&nbsp;&nbsp;&nbsp;&nbsp;<b>{{bor2}}</b><br>Evaluatie procedures</td>
                      <td style="height: 23px; width: 15px;">&nbsp;BOR 3&nbsp;&nbsp;&nbsp;&nbsp;<b>{{bor3}}</b><br>Lijsten met 'kritieke apparatuur'</td>
                      <td style="height: 23px; width: 15px;">&nbsp;BOR 4&nbsp;&nbsp;&nbsp;&nbsp;<b>{{bor4}}</b><br>Een auditplan/<br>programma</td>
                      <td style="height: 23px; width: 15px;">&nbsp;BOR 5&nbsp;&nbsp;&nbsp;&nbsp;<b>{{bor5}}</b><br>Afgetekende, afgehandelde rapporten over afwijkingen</td>
                    </tr>
                    <tr style="height: 23px;">
                      <td style="height: 23px; width: 15px;" colspan="3"></td>
                      <td style="height: 23px; width: 15px;" colspan="4"></td>
                    </tr>
                    <tr style="height: 23px;">
                      <td style="height: 23px; width: 101px;">&nbsp;Smoezen</td>
                      <td style="height: 23px; width: 15px;">&nbsp;SMOE1&nbsp;&nbsp;&nbsp;&nbsp;<b>{{smoe1}}</b></td>
                      <td style="height: 23px; width: 250px;" colspan="4">In ons bedrijf hebben we geen tijd voor veiligheid&nbsp;</td>
                    </tr>
                    <tr style="height: 23px;">
                      <td style="height: 23px; width: 101px;">&nbsp;</td>
                      <td style="height: 23px; width: 15px;">&nbsp;SMOE2&nbsp;&nbsp;&nbsp;&nbsp;<b>{{smoe2}}</b></td>
                      <td style="height: 23px; width: 250px;" colspan="4">Ik ga er van uit dat mij niets overkomt op mijn werk&nbsp;</td>
                    </tr>
                    <tr style="height: 23px;">
                      <td style="height: 23px; width: 101px;">&nbsp;</td>
                      <td style="height: 23px; width: 15px;">&nbsp;SMOE3&nbsp;&nbsp;&nbsp;&nbsp;<b>{{smoe3}}</b></td>
                      <td style="height: 23px; width: 250px;" colspan="4">Voor mij is productie belangrijker dan veiligheid&nbsp;</td>
                    </tr>
                    <tr style="height: 23px;">
                      <td style="height: 23px; width: 101px;">&nbsp;</td>
                      <td style="height: 23px; width: 15px;">&nbsp;SMOE4&nbsp;&nbsp;&nbsp;&nbsp;<b>{{smoe4}}</b></td>
                      <td style="height: 23px; width: 250px;" colspan="4">Niemand werkt echt veilig bij ons&nbsp;</td>
                    </tr>
                    <tr style="height: 23px;">
                      <td style="height: 23px; width: 101px;">&nbsp;</td>
                      <td style="height: 23px; width: 15px;">&nbsp;SMOE5&nbsp;&nbsp;&nbsp;&nbsp;<b>{{smoe5}}</b></td>
                      <td style="height: 23px; width: 250px;" colspan="4">Ik weet wat van mij verwacht wordt rondom veilig werken&nbsp;</td>
                    </tr>
                    <tr style="height: 23px;">
                      <td style="height: 23px; width: 101px;">&nbsp;</td>
                      <td style="height: 23px; width: 15px;">&nbsp;SMOE6&nbsp;&nbsp;&nbsp;&nbsp;<b>{{smoe6}}</b></td>
                      <td style="height: 23px; width: 250px;" colspan="4">Als ik niet veilig kan werken, werk ik niet&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
              </div>
                <br><br><br><br>.<br><br><br><br><br>
                <!-- DivTable.com -->
              </div>
              <!-- DivTable.com -->
            </div>
          </tab>
        </tabset>
      </main>

    </div>
  </div>
</div>
</div>